/* global */
iframe {
  z-index: -1 !important;
}

.ant-input {
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
  color: #576c8a;
  line-height: 35px;
  padding: 7px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-input:focus,
.ant-input-focused {
  border-color: var(--color-primary-hover);
  box-shadow: 0 0 0 2px #91a4173d;
}

.ant-input:hover {
  border-color: var(--color-primary-hover);
  border-right-width: 1px !important;
}

.ant-form-item-control-input {
  border-radius: 10px;
  overflow: hidden;
}

.ant-input-affix-wrapper {
  padding: 6px 11px;
}

/* */
.signin__wrapper {
  background-image: url("../images/bgsignin.png");
  background-position: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  padding: 7rem 9rem;
  min-width: 500px;
  border: 1px solid var(--color-primary-hover);
}

.auth-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #e84410;
  margin-bottom: 20px;
}

.auth-form .button {
  margin: auto;
  width: 100%;
  height: 45px;
}
.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  text-decoration: none;
  background: var(--color-primary-hover);
  color: #fff;
  border-color: var(--color-primary-hover);
}
.ant-input-affix-wrapper > input.ant-input {
  background: rgba(206, 206, 206, 0);
}

.ant-input-affix-wrapper,
.ant-input:placeholder-shown {
  /* border: 1px solid var(--color-primary-hover); */
  background: rgba(206, 206, 206, 0);
  border-radius: 17px;
}
.auth-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-des-note {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: right;
  color: #e84410;
}
.auth-des-link-note {
  font-weight: 700;
  font-size: 16px;
  line-height: 29px;
  text-align: right;
  color: #e84410;
}
.ant-tabs-tab {
  width: 100%;
  justify-content: space-around;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
}
.auth-form {
  max-width: 500px;
}
.signup__wrapper .auth-form {
  padding: 3rem 3rem;
  min-width: 600px;
}
.auth-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-group .ant-row {
  width: 48%;
}
.signup__wrapper
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 42px;
  padding: 5px 11px;
  border-radius: 17px;
  overflow: hidden;
}
.signin__wrapper .ant-input {
  padding: 3px 16px;
}
.signin__wrapper .ant-result {
  background-color: #fff;
  border-radius: 10px;
}
.signin__wrapper .ant-result-extra > :last-child {
  margin: auto;
}
