.create-tour__wrapper img:hover {
    transform: scale(1);
    opacity: 1;
}

.create-tour__block {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 2rem;
    margin-top: 2rem;
}

.create-tour__block select {
    width: 200px;
}

.place-form__choose {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 2rem;
}

.radio-customize,
.checkbox-customize {
    overflow: hidden;
    position: relative;
}

.checkbox-custom1 {
    text-align: center;
}

.radio-customize input,
.checkbox-customize input {
    position: absolute;
    top: 5px;
    right: 6px;
    z-index: 2;
    width: 2rem;
    height: 2rem;
}

.checkbox-customize::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.4);
}

.checkbox-name {
    position: absolute;
    bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #FFFFFF;
    left: 10px;
}

.radio-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-title)
}

.radio-customize {
    border-radius: 8px;
    border: 1px solid #ddd;
}

.place-form__choose_radio {
    grid-gap: 4rem;
}

.create-tour__block-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.create-tour__block-group .create-tour__block {
    width: 30%;
}