.ant-carousel .slick-slide img {
  width: 100%;
}

.row-banner-bg {
  background: #f4f6ef;
  margin-top: -10px;
  padding: 20px 0;
}

.row-banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.travel-guarantee {
  background-color: #f4f6ef;
  padding: 1.5rem;
  text-align: center;
}

.travel-guarantee_title {
  font-size: 14.4px;
  font-weight: 600;
  margin-bottom: 3px;
}

.travel-guarantee_text {
  font-size: 12.6px;
}

.is-inline-block {
  display: inline-block;
  margin: 0 3px;
}

.link-component {
  color: #13294b;
  cursor: pointer;
  text-decoration: none;
}

.banner__wrapper {
  position: relative;
}

.popup-place {
  background-color: #fff;
  position: absolute;
  top: 5rem;
  z-index: 5;
  width: 500px;
  padding: 2.5rem;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.banner-title {
  font-style: normal;
  font-size: 3rem;
  line-height: 3.4rem;
  width: 85%;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.popup-place .button {
  float: right;
  margin-top: 15px;
}

.introduce-item {
  display: flex;
  align-items: center;
}

.introduce-item img {
  width: auto;
  height: auto;
  max-width: 60px;
  margin-right: 2rem;
}

.tour-guide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

.tour-guide-left {
  width: 40%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 040%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}

.tour-guide-right.owl-carousel .owl-item img {
  min-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 1.4px solid #cccccc6e;
}

.tour-guide-right.owl-carousel .owl-item img:hover {
  border-color: var(--color-primary-hover);
}

.tour-guide-right {
  width: 55%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55%;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
}

.tour-guide .tour-guide-title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: var(--color-seconds);
}

.tour-guide .tour-guide-sub-title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--color-seconds);
  margin-top: 2rem;
}

.tour-guide .tour-guide-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.tour-guide .tour-guide-des {
  position: absolute;
  margin: auto;
  bottom: 0;
  padding: 20px 15px;
  padding-top: 6rem;
  color: #ffffff;
  width: 100%;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.tour-guide .tour-guide-name {
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: 500;
  margin: 7px 0;
  color: #fff;
}

.tour-guide .tour-guide-item::before {
  /* content: ""; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.15);
}

.tour-guide .tour-guide-place {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* feedback */
.tour-feedback {
  margin-top: 7rem;
}

.tour-feedback .tour-feedback__main {
  margin-top: 1rem;
}

.tour-feedback .tour-feedback__item {
  padding: 2rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border-radius: 0px 8px 8px 8px;
}

.tour-feedback .tour-feedback__item:hover {
  border: 1px solid var(--colour-link);
  box-shadow: 0px 2px 10px #007c8052;
}

.tour-feedback .tour-feedback__star i {
  color: #ee0033;
  font-size: 12px;
}

.tour-feedback .tour-feedback__content {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
  height: 11rem;
  color: var(--color-seconds);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.tour-feedback .tour-feedback__content.more {
  -webkit-line-clamp: inherit;
}

.tour-feedback .tour-feedback__people {
  display: flex;
  align-items: center;
  justify-content: left;
}

.tour-feedback .tour-feedback__people img.tour-feedback__avt {
  width: 40px;
  height: 40px;
}

.tour-feedback__info {
  margin-left: 5px;
}

.tour-feedback__name {
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.75;
}

.tour-feedback__time {
  color: #475d76;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}

/*tour-address */
.tour-address {
  margin-top: 7rem;
}

.tour-address .tour-address__main {
  margin-top: 20px;
}

.tour-address .tour-address__list {
}

.tour-address .tour-address__item {
  position: relative;
  height: 280px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tour-guide .tour-guide-item::after,
.tour-address .tour-address__item::after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  content: "";
  inset: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease 0s;
  visibility: hidden;
}

.tour-guide .tour-guide-item:hover::after,
.tour-address .tour-address__item:hover:after {
  opacity: 1;
  visibility: visible;
}

.button_xem {
  background-color: #fff;
  color: #000;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  visibility: hidden;
  border: 1px solid #fff;
  border-radius: 999px !important;
  z-index: 1;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  outline: none;
  padding: 7px 10px;
  white-space: nowrap;
  text-align: center;
}

.tour-guide .tour-guide-item .button_xem {
  font-size: 1.2rem;
  padding: 6px 8px;
}

.tour-guide .tour-guide-item:hover .button_xem,
.tour-address .tour-address__item:hover .button_xem {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.tour-address .tour-address__item::before {
  /* content: ""; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.2);
}

.tour-address .tour-address__item img {
  border-radius: 10px 10px 10px 0;
}

.tour-address .tour-address__content {
}

.tour-address .tour-address__img {
}

.tour-address .tour-address__info {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 20px;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.tour-address .tour-address__info i {
  font-size: 20px;
}

.tour-address .tour-address__name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #ffffff;
  margin-left: 5px;
  font-family: "Open Sans", sans-serif !important;
}

/* tour-banner */
.tour-banner {
  margin-top: 6rem;
  position: relative;
}

.tour-banner2 {
  border-radius: 15px;
  overflow: hidden;
}

.tour-banner .tour-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 400px;
}

.tour-banner2 .tour-banner-img {
  max-height: 200px;
}

.tour-banner2 .tour-banner__text {
  top: 10%;
  left: 5rem;
}

.tour-banner2 .tour-banner-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.2rem;
}

.tour-banner2 .tour-banner-des {
  font-size: 1.5rem;
  line-height: 1.6rem;
}

.tour-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.4);
}

.tour-banner2 .button {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 5px 9px;
}

.tour-banner .tour-banner__text {
  position: absolute;
  top: 22%;
  color: #fff;
  width: 60%;
}

.tour-banner .tour-banner-title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  color: #ffffffde;
}

.tour-banner .tour-banner-des {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #ffffffde;
}

.tour-view {
  margin-top: 5rem;
}

.tour-view .tour-view__main {
  margin-top: 3rem;
}

.tour-view .tour-view__item {
  border-radius: 8px;
  overflow: hidden;
}

.tour-view .tour-view__card-img {
  position: relative;
}

.tour-view .tour-view__img {
  max-height: 220px;
}

.tour-view .tour-view__tag {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 8rem 10px 5px;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.tour-view .tour-view__tag-name {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 0 5px;
  margin: 2px;
}

.tour-banner2 .tour-banner-img {
  max-height: 200px;
}

.tour-banner2 .tour-banner__text {
  top: 10%;
}

.tour-banner2 .tour-banner-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.2rem;
}

.tour-banner2 .tour-banner-img {
  max-height: 200px;
}

.tour-banner2 .tour-banner__text {
  top: 10%;
}

.tour-banner2 .tour-banner-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.2rem;
}

.tour-banner2 .tour-banner-des {
  font-size: 1.5rem;
  line-height: 1.6rem;
}

.tour-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.4);
}

.tour-banner2 .button {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 8px 9px;
  width: 140px;
  background-color: var(--colour-link);
  border-color: var(--colour-link);
  color: #fff;
}

.tour-banner2 .button:hover {
  background-color: rgb(5, 111, 115);
  border-color: rgb(5, 111, 115);
}

.tour-view .tour-primary {
  background: rgb(0 124 128 / 73%);
}

.tour-view .tour-view-avt {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  width: 50px;
  height: 50px;
}

.travel-title-all .travel-title {
  text-align: left;
}

.tour-view .tour-view-avt img {
  border-radius: 50%;
}

.tour-view .tour-view__card-content {
  padding: 2rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
}

.tour-view .tour-view__head {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.2rem;
  color: var(--color-text);
  display: flex;
  align-items: center;
}

.tour-view .tour-view__name {
  margin-right: 10px;
}

.tour-view .tour-view__time {
  border-left: 1px solid var(--color-text);
  padding-left: 10px;
}

.tour-view .tour-view-body {
  margin-top: 20px;
}

.tour-view .tour-view__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: var(--color-text-title);
}

.tour-view .tour-view__des {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-text);
}

.tour-view .tour-view__place {
  margin-top: 10px;
  color: #ed3133;
}

.tour-view .tour-view__place i {
  font-size: 15px;
}

.tour-view .tour-view__place-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-left: 5px;
}

.tour-view .tour-view-footer {
  margin-top: 10px;
}

.tour-view .tour-view__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 19px;
  color: var(--color-text);
}

.tour-view .tour-view__price span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: var(--color-text-title);
}

.tour-view .tour-view__evaluate {
  display: block;
}

.tour-view .tour-view__star {
  color: #ee0033;
  display: flex;
  align-items: center;
}

.tour-view .tour-view__star span {
  margin-left: 4px;
}

.tour-view .button-contact {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

/* tour guides */
.tour-guides {
  margin-top: 5rem;
}

.tour-guides .tour-guides__main {
  margin-top: 3rem;
}

.tour-guides .tour-guides__item {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px 8px 8px 0;
  overflow: hidden;
}

.tour-guides .tour-guides__card-content {
  padding: 2rem;
}

.tour-guides .tour-guides__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tour-guides .tour-guides__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-transform: capitalize;
  color: var(--color-text);
}

.tour-guides .tour-guides__time {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: var(--color-text);
  padding-left: 5px;
  border-left: 1px solid var(--color-text);
}

.tour-guides .tour-guides--item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.tour-guides .tour-guides--item i {
  font-size: 15px;
  width: 20px;
  color: var(--color-primary-hover);
}

.tour-guides .tour-guides__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-text);
  margin-left: 5px;
}

.tour-feedback__main .owl-carousel .owl-stage-outer {
  padding: 20px 0;
}

.home__wrapper {
  margin-bottom: 50px;
}

/* news */
.news {
  margin-top: 4rem;
}

.news-main {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news-left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100% / 2 - 20px);
  -ms-flex: 0 0 calc(100% / 2 - 20px);
  flex: 0 0 calc(100% / 2 - 20px);
}

.news-left-item {
}

.news-left__intro {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 30px 0 12px 0;
  margin-top: -30px;
  padding: 20px 20px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}

.news-right__name,
.news-left__name {
  color: #44494d;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin: 0 0 6px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.news-right-des,
.news-left-des {
  color: #252525;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 80px;
  margin-bottom: 10px;
}

.news-link {
  color: #ee0033;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.news-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100% / 2 - 20px);
  -ms-flex: 0 0 calc(100% / 2 - 20px);
  flex: 0 0 calc(100% / 2 - 20px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.news-left-thumb {
  height: 300px;
  border-radius: 12px 12px 12px 0;
  overflow: hidden;
}

.news-main img {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}

.news-main img:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.news-right-thumb {
  border-radius: 12px 0 0 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 263px;
  -ms-flex: 0 0 263px;
  flex: 0 0 263px;
  flex-basis: 263px;
  overflow: hidden;
  min-height: 140px;
  max-height: 155px;
}

.news-right-item {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 12px 12px 12px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.news-right-item:not(:last-child) {
  margin: 0 0 18px;
}
.news-right__intro {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px 20px;
}

.news-right-des {
  height: 40px;
  -webkit-line-clamp: 2;
}

@media (max-width: 991px) {
  .menu-left .menu-list {
    display: none;
  }
}

.specialLocationBox {
  height: 710px;
  width: 1132px;
  margin: auto;
  position: relative;
}

.specialLocationBox_item {
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 5px 10px #adb5bd;
}

.specialLocationBox_item_box {
  position: relative;
  width: 100%;
  height: 100%;
}

.specialLocationBox_item_box a {
  display: flex;
  width: 100%;
  height: 100%;
}

.specialLocationBox_item_box_image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.specialLocationBox_item_box_image img {
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.specialLocationBox_item_box_title {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 66.5%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.specialLocationBox_item_box_title h2,
.specialLocationBox_item_box_title h3,
.specialLocationBox_item_box_title h4 {
  margin-bottom: 0;
  margin-top: auto;
  color: #fff;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.specialLocationBox_item:nth-child(1) {
  width: 280px;
  height: 280px;
  top: 120px;
  left: 0;
}

.specialLocationBox_item:nth-child(2) {
  width: 180px;
  height: 180px;
  top: 20px;
  left: 280px;
}

.specialLocationBox_item:nth-child(3) {
  width: 180px;
  height: 180px;
  top: 240px;
  left: 320px;
}

.specialLocationBox_item:nth-child(4) {
  width: 150px;
  height: 150px;
  top: 450px;
  left: 260px;
}

.specialLocationBox_item:nth-child(5) {
  width: 200px;
  height: 200px;
  top: 430px;
  left: 0;
}

.specialLocationBox_item:nth-child(6) {
  width: 160px;
  height: 160px;
  top: 300px;
  left: 550px;
}

.specialLocationBox_item:nth-child(7) {
  width: 250px;
  height: 250px;
  top: 10px;
  left: 500px;
}

.specialLocationBox_item:nth-child(8) {
  width: 180px;
  height: 180px;
  top: 0;
  right: 150px;
}

.specialLocationBox_item:nth-child(9) {
  width: 200px;
  height: 200px;
  top: 180px;
  right: 0;
}

.specialLocationBox_item:nth-child(10) {
  width: 130px;
  height: 130px;
  top: 220px;
  right: 250px;
}

.specialLocationBox_item:nth-child(11) {
  width: 200px;
  height: 200px;
  top: 390px;
  right: 190px;
}

.specialLocationBox_item:nth-child(12) {
  width: 150px;
  height: 150px;
  top: 420px;
  right: 0;
}

.specialLocationBox_item:nth-child(13) {
  width: 220px;
  height: 220px;
  top: 490px;
  left: 450px;
}

.specialLocationBoxMobile {
  display: flex;
  flex-wrap: wrap;
}

.specialLocationBoxMobile_item {
  position: relative;
  box-shadow: 0 0 4px #adb5bd;
  border-radius: 5px;
}

.specialLocationBoxMobile_item_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.01),
    rgba(0, 0, 0, 0.8)
  );
  color: #fff;
  border-radius: 5px;
}

.specialLocationBoxMobile_item_content h2,
.specialLocationBoxMobile_item_content h3,
.specialLocationBoxMobile_item_content h4 {
  margin: 0;
  font-size: 1.1rem;
  color: #f4d03f;
}

.specialLocationBoxMobile_item_content div {
  font-size: 1rem;
}

.specialLocationBoxMobile_item a {
  display: flex;
}

.specialLocationBoxMobile_item a img {
  width: 100%;
  margin: 0;
  object-fit: cover;
  border-radius: 5px;
}

.specialLocationBoxMobile_item:nth-child(1) {
  margin-left: 0;
  width: calc(50% - 0.75rem);
}

.specialLocationBoxMobile_item:nth-child(2) {
  margin-left: 1.5rem;
  width: calc(50% - 0.75rem);
}

.specialLocationBoxMobile_item:nth-child(3),
.specialLocationBoxMobile_item:nth-child(6),
.specialLocationBoxMobile_item:nth-child(9) {
  margin-left: 0;
  margin-top: 1.5rem;
  width: calc(33.33% - 1rem);
}

.specialLocationBoxMobile_item:nth-child(4),
.specialLocationBoxMobile_item:nth-child(5),
.specialLocationBoxMobile_item:nth-child(7),
.specialLocationBoxMobile_item:nth-child(8),
.specialLocationBoxMobile_item:nth-child(10),
.specialLocationBoxMobile_item:nth-child(11) {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  width: calc(33.33% - 1rem);
}

.specialLocationBoxMobile_item:nth-child(12) {
  margin-left: 0;
  width: calc(50% - 0.75rem);
  margin-top: 1.5rem;
}

.specialLocationBoxMobile_item:nth-child(13) {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  width: calc(50% - 0.75rem);
}

@media (max-width: 767px) {
  .specialLocationBoxMobile_item:nth-child(1) {
    width: calc(50% - 0.5rem);
  }

  .specialLocationBoxMobile_item:nth-child(2) {
    margin-left: 1rem;
    width: calc(50% - 0.5rem);
  }

  .specialLocationBoxMobile_item:nth-child(3),
  .specialLocationBoxMobile_item:nth-child(6),
  .specialLocationBoxMobile_item:nth-child(9) {
    margin-top: 1rem;
    width: calc(33.33% - 1rem);
  }

  .specialLocationBoxMobile_item:nth-child(4),
  .specialLocationBoxMobile_item:nth-child(5),
  .specialLocationBoxMobile_item:nth-child(7),
  .specialLocationBoxMobile_item:nth-child(8),
  .specialLocationBoxMobile_item:nth-child(10),
  .specialLocationBoxMobile_item:nth-child(11) {
    margin-left: 1rem;
    margin-top: 1rem;
    width: calc(33.33% - 0.6666rem);
  }

  .specialLocationBoxMobile_item:nth-child(12) {
    margin-top: 1rem;
    width: calc(50% - 0.6666rem);
  }

  .specialLocationBoxMobile_item:nth-child(13) {
    margin-left: 1rem;
    margin-top: 1rem;
    width: calc(50% - 0.5rem);
  }
}

@media (max-width: 577px) {
  .specialLocationBoxMobile_item:nth-child(3),
  .specialLocationBoxMobile_item:nth-child(6),
  .specialLocationBoxMobile_item:nth-child(9),
  .specialLocationBoxMobile_item:nth-child(4),
  .specialLocationBoxMobile_item:nth-child(5),
  .specialLocationBoxMobile_item:nth-child(7),
  .specialLocationBoxMobile_item:nth-child(8),
  .specialLocationBoxMobile_item:nth-child(10),
  .specialLocationBoxMobile_item:nth-child(11) {
    width: calc(50% - 0.5rem);
  }

  .specialLocationBoxMobile_item:nth-child(2n + 1) {
    margin-left: 0;
  }

  .specialLocationBoxMobile_item:not(:nth-child(2n + 1)) {
    margin-left: 1rem;
  }
}
.times {
  margin-top: 20px;
}
.times input {
  padding: 0px 2px;
}
.ant-picker-body table,
.ant-picker-body td,
.ant-picker-body th {
  border: none;
}
.times .ant-picker {
  width: 100%;
}
.ant-picker-input > input {
  line-height: 1.9715;
}
