/* header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99;
  box-shadow: 0px -3px 10px 3px #000000d9;
}
.layout__wrapper {
  background-color: #fbfbfbc4;
}

.header-wrapper .main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list .menu-item a.active {
  color: var(--color-primary);
}
.ant-layout.ant-layout-has-sider > .ant-layout {
  min-height: 91vh;
  overflow: scroll;
}
.menu-right,
.menu-left {
  display: flex;
  align-items: center;
}

.menu-left img {
  width: 75px;
  height: auto;
}

.menu-left .menu-list {
  display: flex;
}

.menu-list .menu-item {
  font-size: 2rem;
  margin: 0 1rem;
}

.menu-list .menu-item:hover a {
  color: var(--color-primary);
}

.menu-item {
  position: relative;
}
.menu-sub {
  position: absolute;
  top: 25px;
  display: none;
  width: 200px;
  background-color: #fff;
  padding: 15px 10px;
}
.menu-sub_item {
  border-bottom: 1px solid #cccccc4f;
}
.menu-list .menu-item:hover .menu-sub_item a {
  color: initial;
}
.menu-list .menu-item .menu-sub_item:hover a {
  color: var(--color-primary);
}
.menu-item:hover .menu-sub {
  display: block;
}
.user-info .button {
  width: 140px;
}

.your-trip {
  color: var(--color-sub);
  font-size: 1.8rem;
  padding: 0.5rem 0.6rem;
  border-radius: 1.2rem;
  border: 1px solid var(--color-sub);
  margin-right: 1.1rem;
  cursor: pointer;
}

.your-trip:hover {
  background-color: var(--color-sub);
  color: #fff;
}

.language,
.support {
  margin: 0 1rem;
}

.language i {
  color: var(--color-primary);
}

.language i:hover {
  color: var(--color-sub);
}

.language i,
.support i {
  font-size: 2.5rem;
}

/* footer */

/* tour-footer */
.tour-footer-sub {
  background: #faf9f8;
  border: 1px solid #ededed;
  /* margin-top: 5rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
}

.tour-footer-sub .tour-footer-logo {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tour-footer-sub .tour-footer-img {
  width: 6rem;
  height: 6rem;
}

.tour-footer-sub .tour-footer-logo__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: var(--color-text-title);
}

.tour-footer-sub .tour-footer-list {
  width: 60%;
}

.tour-footer-sub .tour-footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.tour-footer-sub .tour-footer__item {
  text-align: center;
}

.tour-footer-sub .tour-footer__item i {
  font-size: 25px;
  color: var(--color-text);
}
.tour-footer-sub .tour-footer__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--color-text);
}
.tour-footer-content .tour-footer__item:hover i,
.tour-footer-content .tour-footer__item:hover .tour-footer__text {
  color: var(--colour-link);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  background-color: #fff;
}

.footer .footer-left {
  display: flex;
}

.footer .footer-item {
  margin: 0 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: var(--color-text);
}

.footer .footer-item:hover {
  color: var(--color-primary-hover);
}

.footer .footer-license {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: var(--color-text-title);
}
.menu-left .mb {
  display: none;
}
.menu-right .pc {
  display: flex;
}

@media (max-width: 991px) {
  .menu-left .mb {
    display: flex;
    align-items: center;
  }
  .menu-right .pc {
    display: none;
  }
}
.menu-mb.mb i {
  font-size: 28px;
}
.menu-list-mb {
  margin-top: 30px;
}
.menu-item-mb {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #443e3e;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0 20px 20px;
  transition: 0.3s;
}
.menu-item-mb:last-child {
  bottom: 20px;
  position: absolute;
  width: 100%;
}
.menu-item-mb:hover {
  background-color: #ededed;
}
.ant-drawer-body {
  padding: 0;
}
.menu-item-mb i {
  margin-right: 10px;
}
.user-info .button {
  width: 140px;
}
.header-user {
  background-color: #fff;
  position: relative;
  margin-left: 15px;
}
.header-user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.header-user ul {
  z-index: 10;
  position: absolute;
  display: none;
  right: 0;
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 200px;
  border-radius: 6px;
  box-shadow: 0px 2px 14px -1px #888888;
}
.header-user ul li {
  text-align: left;
  list-style: none;
  overflow: hidden;
}
.header-user .box-list-info {
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
  font-weight: 100;
  border-bottom: 1px solid #dddddd;
}
.header-user .box-list-info i {
  color: #888;
  padding-right: 5px;
}
.header-user .box-list-info a {
  color: #222;
}

.header-user:hover .box-list-info {
  overflow: hidden;
  color: #222;
  font-weight: 400;
}
.header-user:hover .box-list-info:last-child {
  border-bottom: none;
}

.header-user:hover .list-info {
  display: block;
}

personnal
  /* setting */
  .InfoUser-wwrapper {
  padding: 100px 9%;
  width: 80%;
}
.InfoUser-wwrapper h1 {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 600;
}
.InfoUser-wwrapper .btn-active {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}
.InfoUser-wwrapper .btn-active button {
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  padding: 2px 30px;
  color: #9b9999;
  margin: 2px 5px;
}
.InfoUser-wwrapper .btn-active button:hover {
  cursor: pointer;
  border: 1px solid #464545;
  color: #464545;
}
.InfoUser-wwrapper .btn-active .active {
  border-color: #76860c;
  color: #9eb60a;
  background-color: #dce2b3;
}
.InfoUser-wwrapper .btn-active .active:hover {
  background-color: #9aa746;
  color: #fff;
  border: 1px solid #9eb60a;
}
.InfoUser-wwrapper h2 {
  color: #9aa746;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  width: 80%;
  margin-top: 35px;
}
.InfoUser-wwrapper .info {
  width: 80%;
  margin: 10px 0;
}
.InfoUser-wwrapper .info h3 {
  color: #403e3e;
  font-weight: 600;
}
.InfoUser-wwrapper .info input {
  padding: 5px 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 80%;
  outline: none;
  border-radius: 0;
}
.ant-form-item-control-input {
  border-radius: 0;
}
.InfoUser-wwrapper .info p {
  width: 80%;
  margin: 10px 0;
  display: flex;
}
.InfoUser-wwrapper .info p .avtUpload {
  margin-left: 90px;
  position: relative;
}
.InfoUser-wwrapper .info p .avtUpload .avtUploadImg {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.InfoUser-wwrapper .info p .avtUpload .avtUploadImg img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.InfoUser-wwrapper .info p .avtUpload label .photoupload {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 0;
  z-index: 0;
  border-radius: 50%;
  cursor: pointer;
  background: #000;
}
.InfoUser-wwrapper .info p .avtUpload label .photoupload img {
  width: 75%;
  opacity: 0.5;
}
.InfoUser-wwrapper .info p .avtUpload label .PhotoPic {
  position: absolute;
  bottom: 28px;
}
.InfoUser-wwrapper .ChangPassword {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: -0.1px 2px 7.6px 0.2px #bbb7b7;
}
.InfoUser-wwrapper .ChangPassword .changeinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.InfoUser-wwrapper .ChangPassword .changeinfo .title {
  width: 70%;
  display: flex;
  align-items: center;
}
.InfoUser-wwrapper .ChangPassword .changeinfo .title p {
  margin: 0;
}
.InfoUser-wwrapper .ChangPassword button {
  border: 0;
  padding: 4px 9px;
  border-radius: 4px;
  background-color: #f3684d;
  color: #fff;
}
.InfoUser-wwrapper .ChangPassword button:hover {
  background-color: #f75939;
}
.InfoUser-wwrapper
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  content: "";
}
.InfoUser-wwrapper .ant-form-item-label > label {
  font-weight: 600;
  color: #000;
  width: 150px;
}
