.news-banner img {
    width: 100%;
    max-height: 450px;
}

.news-input {
    position: relative;
}

.news-input i {
    color: var(--color-text);
    font-size: 20px;
    left: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.news-input input {
    width: 50%;
    padding: 9px 15px 9px 40px;
}

.news-list {
    margin-top: 3rem;
}

.news-item {
    border: 1px solid #ccc;
    border-radius: 8px 8px 8px 0;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0;
}

.news-item:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.news-main {
    padding: 20px;
    flex: 0 0 59.5%;
}

.news-title {
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.9rem;
    text-align: left;
    color: var(--color-text-title);
}

.news-des {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--color-seconds);
    margin-top: 2rem;
}

.news-post-share-box {
    border: none !important;
    padding: 0;
    text-align: center;
    position: relative;
    margin-top: 16px;
    clear: none;
}

.news-post-share-box:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background: #DEDEDE;
    display: block;
    top: 49%;
    z-index: 1;
}

.news-post-share-item {
    float: none !important;
    padding: 0 10px;
    position: relative;
    z-index: 5;
    background: #fff;
    display: inline-block;
    margin-top: 0;
}

.news-post-share-item a {
    display: inline-block;
    position: relative;
    color: #313131;
    margin-left: 10px;
    font-size: 14px;
}

.news-post-share-item a:first-child {
    margin-left: 0;
}

.news-paging {
    display: flex;
    text-align: center;
    justify-content: center;
}

.news-paging__item {
    padding: 10px 15px;
    border: 1px solid #ccc;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-seconds);
}

.news-paging__item:hover {
    color: #fff;
    border-color: var(--color-primary);
    background-color: var(--color-primary-hover);
}