.news-banner img {
  width: 100%;
  max-height: 450px;
}

.news-input {
  width: 60%;
  position: relative;
}

.news-input i {
  color: var(--color-text);
  font-size: 20px;
  left: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.news-topic-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-right: 10px;
  color: #3b3b3b;
}
.news-topic-title i {
  margin-right: 5px;
}
.news-input input {
  width: 100%;
  padding: 9px 15px 9px 40px;
  font-size: 16px;
}

.news-list {
  margin-top: 3rem;
}

.news-item {
  border: 1px solid #ccc;
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all linear 0.5s;
  margin: 20px 0;
}
.news-item:hover .news-title {
  color: var(--colour-link);
}
.news-item:hover .news-img img {
  transform: scale(1.05);
  transition: all linear 0.5s;
}

.news-item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.news__wrapper .news-main {
  padding: 20px;
  flex: 0 0 70%;
  width: 70%;
}

.news-title {
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.9rem;
  text-align: left;
  color: var(--color-text-title);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-img {
  height: 200px;
  flex: 0 0 30%;
  width: 30%;
  overflow: hidden;
}

.news-img img {
  height: 100%;
}

.news-des {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--color-seconds);
  margin-top: 2rem;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-post-share-box {
  border: none !important;
  padding: 0;
  text-align: center;
  position: relative;
  margin-top: 16px;
  clear: none;
}

.news-post-share-box:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 1px;
  background: #dedede;
  display: block;
  top: 49%;
  z-index: 1;
}

.news-post-share-item {
  float: none !important;
  padding: 0 10px;
  position: relative;
  z-index: 5;
  background: #fff;
  display: inline-block;
  margin-top: 0;
}

.news-post-share-item a {
  display: inline-block;
  position: relative;
  color: #313131;
  margin-left: 10px;
  font-size: 14px;
}

.news-post-share-item a:first-child {
  margin-left: 0;
}

.news-paging {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

.news-paging__item {
  padding: 10px 15px;
  border: 1px solid #ccc;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-seconds);
}

.news-paging__item:hover {
  color: #fff;
  border-color: var(--color-primary);
  background-color: var(--color-primary-hover);
}

.news-detail-title {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
  margin: 10px 0;
  color: #44494d;
}

.news-detail__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.news-detail-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.news-detail-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.news-detail-name {
  font-size: 1.9rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 2px;
  color: #44494d;
}

.news-detail-time {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}

.news-detail-avt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.news-detail__main {
  margin-top: 20px;
  text-align: justify;
  font-size: 16px;
  line-height: 22px;
}

.news-detail__main p {
  text-align: justify;
  font-size: 16px;
  line-height: 22px;
  margin: 5px 0;
}
.news-detail__main h1 {
  text-align: justify;
  line-height: 120%;
  margin: 10px 0;
}
.image-detail {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.Blog-action {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.Blog-action-icon {
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.Blog-options {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 210px;
  background-color: #fff;
  border-radius: 20px;
  padding: 7px 0;
  box-shadow: -2px 2px 10px 1px #00000036;
  animation: FadeIn 0.3s ease;
  transition: all 0.3s ease-in-out;
  will-change: opacity, transform;
}

.Blog-options li {
  padding: 12px 20px;
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-family: var(--system-ui);
  padding: 12px 20px;
  transition: 0.3s;
}

.Blog-options li:hover {
  background-color: #f0f0f0;
  color: #292929;
}

.Blog-options li i {
  margin-right: 12px;
}

.Blog-options.active {
  display: block;
}

.news-detail__des {
}

.news-detail__create-comment {
  display: flex;
  align-items: center;
}

.news-detail__send i {
  transform: rotate(24deg);
}

.news-detail__list-cmt {
  margin-top: 20px;
}

.news-detail__item-cmt {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.news-detail__comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.news-detail__item-main {
  padding: 3px 10px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  border-radius: 7px;
}

.news-detail__name {
  font-weight: 500;
}

.comment--text {
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  padding: 9px 16px;
  border-radius: 0;
}

.news-content-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 40px;
}

.news-content-left {
  width: 60%;
  flex: 0 0 60%;
}

.news-content-right {
  width: 30%;
  flex: 0 0 30%;
}

.news-content-right {
  margin-top: -20px;
  position: sticky;
  top: 75px;
}

.news-content__hot-title {
  border-bottom: 2px solid #313131;
  width: 100%;
}

.news-content__hot-title span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  background-color: #313131;
  color: #00bfa5;
  padding: 8px 20px;
  display: inline-block;
}

.news-content__hot-main {
  margin-top: 20px;
}

.news-content__hot-item {
  margin-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #d1d1d1;
}

.news-content__hot-item:last-child {
  border-width: 0px;
}

.news-content__hot-item .news-content__hot-link {
  display: flex;

  align-items: flex-start;
  justify-content: space-between;
}

.news-content__hot-link .news-content__hot-img {
  min-width: 165px;
  min-height: 100%;
  max-width: 165px;
  max-height: 93px;
  margin-right: 10px;
  object-fit: cover;
  transition: all 0.3s linear;
  overflow: hidden;
  border-radius: 8px;
}

.news-content__hot-img img {
  object-fit: cover;
  transition: all 0.3s linear;
}

.news-content__hot-img img:hover {
  transform: scale(1.05);
  transition: all 0.3s linear;
}

.news-content__hot-time {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}

.news-content__hot-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #44494d;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-detail__comment {
  margin-top: 20px;
}

.MyPostItem_wrapper__LYeZB {
  border: 2px solid #e8e8e8;
  border-radius: 16px;
  margin-top: 16px;
  padding: 16px 24px 22px;
  position: relative;
}

.MyPostItem_wrapper__LYeZB h3 {
  margin-top: 0;
  padding-right: 24px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.MyPostItem_wrapper__LYeZB h3 a {
  color: var(--text-color);
  font-size: 1.9rem;
  line-height: 1.6;
}

.MyPostItem_wrapper__LYeZB p {
  color: var(--desc-color);
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

.MyPostItem_wrapper__LYeZB > div:first-child {
  flex: 1 1;
  padding-right: 6rem;
}

.MyPostItem_wrapper__LYeZB > div:last-child img {
  width: 80px;
}

.MyPostItem_author__LTSvL {
  color: var(--desc-color);
  font-size: 1.4rem;
}

.MyPostItem_author__LTSvL .MyPostItem_dot__u8k\+x {
  padding: 0 6px;
}

.MyPostItem_author__LTSvL a {
  color: #029e74;
}

.MyPostItem_action__quI6d {
  align-items: center;
  color: var(--desc-color);
  display: flex;
  font-size: 1.4rem;
}

.MyPostItem_action__quI6d > div {
  align-items: center;
  display: flex;
  margin-right: 3.2rem;
}

.MyPostItem_action__quI6d > div:hover {
  color: var(--black-color);
  cursor: pointer;
}

.MyPostItem_more__jS8rj {
  color: #666;
  font-size: 1.6rem;
  margin-left: 4px;
  padding: 4px 18px;
  position: absolute;
  right: 16px;
  top: 8px;
  padding-bottom: 20px;
}

.MyPostItem_more__jS8rj:hover {
  color: var(--black-color);
  cursor: pointer;
}

.blog_wrapper {
  padding-top: 30px;
}

.blog-content {
  background-color: #fff;
  padding: 15px;
}

.blog-content {
  width: 65%;
}

.Tippy-module_wrapper {
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  inset: 0px 0px auto auto;
  display: none;
  margin: 0px;
  transform: translate3d(-16px, 34.4px, 0px);
}

.MyPostItem_more__jS8rj:hover .Tippy-module_wrapper {
  display: block;
}

.Tippy-module_wrapper__1s5m5 {
  animation: Tippy-module_fadeIn__2LeID 0.3s ease;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
  color: #1d2129;
  margin: 0;
  overflow: hidden;
  padding: 8px 0;
  width: 150px;
  transition: all 0.3s ease-in-out;
  will-change: opacity, transform;
}

.Tippy-module_options__37VQJ:not(.Tippy-module_hasLink__8U2Xq) li {
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  padding: 12px 20px;
  transition: 0.3s;
}

.ant-tabs-tab-btn,
.ant-tabs-tab-remove {
  outline: none;
  transition: all 0.3s;
  font-size: 19px;
  font-weight: 600;
  color: #767676;
}

.news-search {
  margin-top: 30px;
}
.news-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-topic {
  display: flex;
  align-items: center;
}
.no-post {
  text-align: center;
}

.no-post img {
  width: 60%;
  margin: auto;
}

.no-post-desc {
  margin-top: 30px;
  font-weight: 500;
  font-size: 23px;
  color: #3b3b3b;
}

.no-post-desc .travel-link {
  font-weight: 700;
  font-size: 23px;
}

@keyframes Tippy-module_fadeIn__2LeID {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.news-detail_item-group {
  min-width: 40%;
  position: relative;
}
.news-detail_item-group .time {
  margin: 0 8px;
  font-weight: 600;
  font-size: 11px;
  cursor: pointer;
}
.news-detail__item-cmt .active {
  margin-left: 16px;
  width: 25px;
  height: 25px;
  color: #6e6d6d;
}
.active i {
  position: relative;
  font-size: 16px;
}
.active i:hover ul {
  display: block;
}
.active i:hover ul li {
  cursor: pointer;
}
.active i:hover ul li:hover {
  color: #f75555;
}
.active ul {
  box-shadow: -2px 3px 9px -1px #ccc;
  position: absolute;
  list-style: none;
  width: 76px;
  border-radius: 5px;
  display: none;
}
.active ul li {
  padding: 4px 7px;
  color: #383737;
  font-family: "Montserrat", "Fira Code";
  font-weight: 400;
}
.editCmt {
  position: absolute;
  z-index: 10;
  display: flex;
  left: 10px;
  bottom: 22px;
  align-items: center;
  width: 94%;
}
.editCmt {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}
.editCmt input {
  border: none;
  background-color: #e0e0e0;
}
