/* discover */
.discover-detail {
}
.discover-detail__banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.discover-detail__banner img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  max-height: 500px;
}
.discover-detail__banner-info {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
@media (max-width: 991px) {
  .discover-detail__banner-info {
    width: 100%;
  }
}
.discover-detail__banner-name {
  border: 4px solid #fff;
  color: #fff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Sarabun", sans-serif;
  font-size: 52px;
  font-weight: 600;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 30px;
  min-width: 250px;
  padding: 22px 20px;
}
@media (max-width: 991px) {
  .discover-detail__banner-name {
    font-size: 24px;
    min-width: 110px;
    padding: 5px 10px;
  }
}
.discover-detail .discover-detail__menu {
  background-color: var(--color-primary);
}

.discover-detail .discover-detail__menu-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100% / 4 - 3rem);
  -ms-flex: 0 0 calc(100% / 4 - 3rem);
  flex: 0 0 calc(100% / 4 - 3rem);
  margin: 0 15px;
  width: calc(100% / 4 - 3rem);
  text-align: center;
  margin-bottom: -6rem;
}

.discover-detail .discover-detail__menu-list {
  display: flex;
  padding-top: 4rem;
  align-items: center;
  justify-content: space-between;
}

.discover-detail .discover-detail__menu-link img {
  width: 100px;
}

.discover-detail .discover-detail__menu-name {
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.discover-detail__menu-item:hover .discover-detail__menu-name,
.discover-detail__menu-item.active .discover-detail__menu-name {
  color: #ee0033;
}

.discover-detail .discover-detail__info {
  margin-top: 8rem;
}

.discover-detail .discover-detail__info-title {
  color: var(--color-text-title);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0 0 2rem;
  padding: 0 0 0 1.5rem;
  position: relative;
}

.discover-detail__info-title:before {
  background-color: var(--color-primary);
  content: "";
  height: 1.7rem;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 5px;
}

.discover-detail .discover-detail__info-intro {
  color: var(--color-text-title);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
}
