.tour-detail__content {
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.tour-detail__left {
  width: 61%;
}

.tour-detail__img-introduce {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: contain;
}
.tour-detail__left .travel-title {
  text-align: left;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 2.6rem;
}

.tour-detail__left .travel-des {
  width: 100%;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  text-align: justify;
  margin: auto;
  color: var(--color-text);
}

.tour-detail__main {
  margin-top: 2rem;
}

.tour-detail__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  color: var(--color-text-title);
  margin-top: 2rem;
}

.tour-detail__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  color: var(--color-text-title);
}

.tour-detail__item-title {
  flex: 1;
}

.tour-detail__item-title p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.tour-detail__item-des {
  flex: 3;
}

.tour-detail__item-des ul {
  list-style: inherit;
}

.tour-detail__item-des ul li {
  list-style: inherit;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.tour-detail__sub-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-text-title);
  margin: 1rem 0;
}

.tour-detail__sub-des {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: var(--color-text);
  margin: 5px 0;
}

.tour-detail__journeys {
  margin-top: 20px;
}

table.table-journeys,
table.table-journeys tr,
table.table-journeys td {
  border-width: 0px;
}

.tour-detail__basic {
}

td {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--color-text-title);
}

table.table-journeys tr td:first-child {
  width: 15%;
}

.tour-detail__time {
  text-align: left;
}

.tour-detail_location {
  text-align: left;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #475d76;
}

.tour-detail_location-des {
  text-align: left;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #13294b;
}

.banner-create__tour {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background: #f4f6ef;
  padding: 10px 20px;
}

.banner-create__tour-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
  margin: 10px auto;
  color: var(--color-text-title);
  width: 90%;
}

.banner-create__tour a {
  margin: auto;
  width: 220px;
}

.tour-detail__detail {
  margin-top: 40px;
}

.tour-detail__card {
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  overflow: hidden;
}

.tour-detail__card img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.tour-detail-body {
  padding: 15px 30px;
}

.tour-detail__district {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-text-title);
}

.tour-detail__overview {
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.tour-detail__introduce {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-seconds);
  margin-top: 10px;
}

.tour-detail__icon {
  margin-top: 40px;
  display: flex;
}

.tour-detail__icon p {
  margin-left: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.tour-detail__icon p i {
  font-size: 15px;
  margin-right: 4px;
}

.tour-detail__map {
  margin-top: 30px;
}

.tour-detail__map .map {
  margin-top: 15px;
}

.map iframe {
  width: 100%;
  height: 450px;
}

.tour-detail__comment {
  margin-top: 30px;
}

.tour-detail__comment .tour-detail__review-list__item {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border-radius: 0px 8px 8px 8px;
  position: relative;
  margin-top: 15px;
}

.tour-detail__comment .tour-detail__review-list__item::after,
.tour-detail__comment .tour-detail__review-list__item::before {
  content: "";
  display: inline-block;
  border-style: solid;
  position: absolute;
}

.tour-detail__comment .tour-detail__review-list__item::after {
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -23px;
  border-width: 0 25px 25px 0;
}

.tour-detail__comment .tour-detail__review-list__item::before {
  top: -1px;
  left: -25px;
  border-width: 0 25px 25px 0;
  border-color: transparent #ddd transparent transparent;
}

.tour-detail__right {
  width: 35%;
  position: sticky;
  top: 30px;
  right: 0;
}

.tour-detail__plan {
  background: #f4f6ef;
}

.tour-detail__plan-header {
  background: #13294b;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  padding: 2rem 2rem;
  align-items: center;
}

.tour-detail__plan-header img {
  width: 90px;
  height: 90px;
}

.tour-detail__plan-info {
  margin-left: 10px;
}

.tour-plan__review {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #ffffff;
}

.tour-plan__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #ffffff;
}
.tour-plan__rate {
  color: #f2ea47;
}

.tour-detail__plan-body {
  padding: 2rem 3rem;
  border: 1px solid #dddddd;
}

.tour-detail__plan-body label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin: 7px 0;
  display: inline-block;
}

.tour-detail__plan-body .button {
  width: 100%;
  margin-top: 15px;
}

.review-list {
  background-color: #fff;
}

.review-list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  padding: 16px;
  border-bottom: 1px solid #d1d1d1;
  gap: 30px;
}

@media (max-width: 575px) {
  .review-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.review-list__item:last-child {
  border-bottom: none;
}

.review-list__customer-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.review-list__customer-item img {
  margin-right: 7px;
  width: 20px;
}

.review-list__customer-item span {
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}

.review-list__customer-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #44494d;
  font-family: "FS PFBeauSansPro", sans-serif;
  margin-bottom: 16px;
}

.review-list__review-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 12px;
}

.review-list .rating-custom i {
  font-size: 16px;
}

.review-list .rating-custom__star.voted {
  color: var(--color-primary);
}

.review-list .rating-custom__star {
  color: var(--color-text);
}

.review-list__time-review {
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: #b5b4b4;
}

.review-list__rate {
  margin: 0 15px 0 4px;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-primary);
}

.review-list__review-content {
  font-size: 14px;
  line-height: 24px;
  color: #44494d;
}

.review-list__review-header {
  align-items: center;
}

.review-list__review-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.review-list__avt {
  display: flex;
  align-items: center;
}

.review-list__avt img {
  width: 50px;
  height: 50px;
}

.review-list__info {
  margin-left: 10px;
}

.review-list__name {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.order-payment_voucher {
  color: #0071c4;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.order-payment_voucher i {
  padding: 5px;
  /* border-radius: 9999px;
border: 1px solid #ccc;
background-color: #ccc; */
}
.order-payment__note {
  font-style: italic;
  font-size: 12px;
  color: #020202;
}
.coupon-label {
  border: 1px solid #080;
  color: #080;
  padding: 3px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}
.ant-modal-title {
  text-align: center;
  color: rgb(29 29 29 / 84%);
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
}

.mytrip-voucher {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-height: 450px;
  overflow: scroll;
}

.mytrip-voucher-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-voucher-left {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 140px;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
  width: 140px;
}

.mytrip-voucher-name {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
  position: absolute;
  text-transform: uppercase;
  right: 8px;
  top: 58px;
}

.mytrip-voucher-use {
  white-space: nowrap;
  font-size: 13px;
  color: rgb(233, 55, 55);
  cursor: pointer;
  font-weight: 600;
}
.mytrip-voucher-use:hover {
  color: rgb(228, 10, 10);
}
.mytrip-voucher-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.mytrip-voucher-condition {
  white-space: nowrap;
}

.mytrip-sub-menu-name {
}

.md-1 {
  justify-content: flex-end !important;
}

.mytrip-order__rate-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mytrip-order__rate-note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.mytrip-order__rate-note-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

.mytrip-order__rate-note-value {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #2f80ed;
}

.mytrip-order__rate-star {
  text-align: center;
  margin: 20px 0;
}

.mytrip-order__rate-star i {
  font-size: 50px;
  color: rgb(236, 223, 32);
}

.My-trip__wrapper {
  background-color: #fbfbfb;
}

.mytrip-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-menu-name {
  margin-left: 10px;
  font-size: 20px;
}

.mytrip-sub-menu {
}

.mytrip-sub-menu-name {
}

.mytrip-order {
}

.mytrip-order-item {
  margin-bottom: 30px;
  border-bottom: 1.5px solid #ccc;
  padding: 10px 0;
}

.mytrip-order__header,
.mytrip-order__main,
.mytrip-order__rate {
  width: 95%;
  margin: auto;
}

.mytrip-order__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.mytrip-order__header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-order__name {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.mytrip-order__chat {
  display: flex;
  align-items: center;
  color: #fff;
  background: var(--color-primary-hover);
  border-radius: 2px;
  padding: 2px 5px;
  margin-left: 10px;
}

.mytrip-order__contact {
  margin-left: 5px;
}

.mytrip-order__header-right {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: var(--color-primary);
}

.mytrip-order__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mytrip-order__rate,
.mytrip-order__main-right,
.mytrip-order__main-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mytrip-order__main-left {
  justify-content: flex-start;
}

.mytrip-order-img {
  width: 100px;
  height: 100px;
}

.mytrip-order-name {
  font-size: 1.8rem;
  line-height: 2rem;
  width: 70%;
  margin-left: 20px;
  color: var(--color-text-title);
}

.mytrip-order__main-price {
  /* text-decoration: line-through; */
}

.mytrip-order__main-price-km {
}

.mytrip-order__rate .button {
  width: auto;
  padding: 6px 15px;
  border-radius: 5px;
}

.mytrip-order__rate-note {
}

.mytrip-sub-menu-name {
}

.mytrip-sub-menu-name {
}

.mytrip-sub-menu-name {
}

.mytrip-voucher__search {
}

.mytrip-voucher-box-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0px;
  padding: 25px 12rem;
}

.mytrip-voucher-box-search input {
  margin: 0 10px;
}

.mytrip-voucher__title {
  white-space: nowrap;
  margin-right: 10px;
}

.mytrip-sub-menu {
}

.mytrip-sub-menu-name {
}

.mytrip-voucher {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.mytrip-voucher-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-voucher-left {
  position: relative;
  z-index: 2;
}

.mytrip-voucher-right {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: stretch;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
  box-shadow: 3px 3px 15px rgb(0 0 0 / 25%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0 0 -15px;
  padding: 11px 15px;
  padding-bottom: 10px;
  position: relative;
  width: calc(100% - 200px);
}

.mytrip-voucher-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.mytrip-voucher-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  color: var(--color-text-title);
}

.mytrip-voucher-time {
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  color: rgb(233, 55, 55);
}

.mytrip-voucher-condition {
  white-space: nowrap;
  color: rgb(233, 55, 55);
  cursor: pointer;
}
.ant-modal {
  width: 90%;
  max-width: 1000px;
}

.voucher-popup-title {
  font-size: 20px;
}

.voucher-popup-des {
  font-size: 15px;
  margin-top: 5px;
}
.voucher-popup-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--colour-navy);
  margin: 10px 0;
}
.voucher-popup-time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #c42424eb;
}
.voucher-popup-dk {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #222121eb;
  margin-top: 10px;
}
.sendyc-form .ant-form-item {
  flex-direction: column;
  align-items: flex-start;
}
.sendyc-form.ant-form-horizontal .ant-form-item-control {
  width: 100%;
}
.sendyc-form .ant-input-number,
.sendyc-form .ant-picker {
  width: 100%;
}
.tour-detail__plan-body .sendyc-form label {
  margin: 0;
}
.sendyc-form .ant-picker {
  padding: 9px;
}
.sendyc-form .ant-input-number-input {
  height: 38px;
}
.sendyc-form .ant-form-item-label > label {
  height: 23px;
}
.sendyc-form .ant-form-item {
  margin: 0 0 9px;
}
.sendyc-form .ant-input {
  padding: 4px 10px;
}
.tour-detail__plan-body .sendyc-form .button {
  height: 40px;
}
.sendyc-form .button:after {
  background-color: var(--color-primary-hover);
}
.sendyc-form
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  ):before {
  content: "";
}
.sendyc-form .ant-form-item-control-input {
  border-radius: 0;
}
