.My-trip__wrapper {
  background-color: #fbfbfb;
}

.mytrip-menu {
}

.mytrip-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-menu-name {
  margin-left: 10px;
}

.mytrip-sub-menu {
}

.mytrip-sub-menu-name {
}

.mytrip-order {
}

.mytrip-order-item {
  margin-bottom: 30px;
  border-bottom: 1.5px solid #ccc;
  padding: 10px 0;
}

.mytrip-order__header,
.mytrip-order__main,
.mytrip-order__rate {
  width: 95%;
  margin: auto;
}

.mytrip-order__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.mytrip-order__header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-order__name {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.mytrip-order__chat {
  display: flex;
  align-items: center;
  color: #fff;
  background: var(--color-primary-hover);
  border-radius: 2px;
  padding: 2px 5px;
  margin-left: 10px;
}

.mytrip-order__contact {
  margin-left: 5px;
}

.mytrip-order__header-right {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: var(--color-primary);
}

.mytrip-order__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mytrip-order__rate,
.mytrip-order__main-right,
.mytrip-order__main-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mytrip-order__main-left {
  justify-content: flex-start;
}

.mytrip-order-img {
  width: 100px;
  height: 100px;
}

.mytrip-order-name {
  font-size: 1.8rem;
  line-height: 2rem;
  width: 70%;
  margin-left: 20px;
  color: var(--color-text-title);
}

.mytrip-order__main-price {
  text-decoration: line-through;
}

.mytrip-order__main-price-km {
}

.mytrip-order__rate .button {
  width: auto;
  padding: 6px 15px;
  border-radius: 5px;
}

.mytrip-order__rate-note {
}

.mytrip-sub-menu-name {
}

.mytrip-sub-menu-name {
}

.mytrip-sub-menu-name {
}

.mytrip-menu-item {
}

.mytrip-voucher__search {
}

.mytrip-voucher-box-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0px;
  padding: 25px 12rem;
}

.mytrip-voucher-box-search input {
  margin: 0 10px;
}

.mytrip-voucher__title {
  white-space: nowrap;
  margin-right: 10px;
}

.mytrip-sub-menu {
}

.mytrip-sub-menu-name {
}

.mytrip-voucher {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.mytrip-voucher-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-voucher-left {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 180px;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  width: 180px;
}

.mytrip-voucher-img {
}

.mytrip-voucher-name {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  line-height: 35px;
  position: absolute;
  right: 14px;
  top: 95px;
}

.mytrip-voucher-use {
  white-space: nowrap;
  font-size: 13px;
  color: rgb(233, 55, 55);
  cursor: pointer;
  font-weight: 500;
}
.mytrip-voucher-use:hover {
  color: rgb(228, 10, 10);
}
.mytrip-voucher-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.mytrip-voucher-condition {
  white-space: nowrap;
}

.mytrip-sub-menu-name {
}

.md-1 {
  justify-content: flex-end;
}

.mytrip-order__rate-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mytrip-order__rate-note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.mytrip-order__rate-note-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

.mytrip-order__rate-note-value {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #2f80ed;
}

.mytrip-order__rate-star {
  text-align: center;
  margin: 20px 0;
}

.mytrip-order__rate-star i {
  font-size: 50px;
  color: rgb(236, 223, 32);
}

.My-trip__wrapper {
  background-color: #fbfbfb;
}

.mytrip-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-menu-name {
  margin-left: 10px;
  font-size: 20px;
}

.mytrip-sub-menu {
}

.mytrip-sub-menu-name {
}

.mytrip-order {
}

.mytrip-order-item {
  margin-bottom: 30px;
  border-bottom: 1.5px solid #ccc;
  padding: 10px 0;
}

.mytrip-order__header,
.mytrip-order__main,
.mytrip-order__rate {
  width: 95%;
  margin: auto;
}

.mytrip-order__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.mytrip-order__header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-order__name {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.mytrip-order__chat {
  display: flex;
  align-items: center;
  color: #fff;
  background: var(--color-primary-hover);
  border-radius: 2px;
  padding: 2px 5px;
  margin-left: 10px;
}

.mytrip-order__contact {
  margin-left: 5px;
}

.mytrip-order__header-right {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: var(--color-primary);
}

.mytrip-order__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mytrip-order__rate,
.mytrip-order__main-right,
.mytrip-order__main-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mytrip-order__main-left {
  justify-content: flex-start;
}

.mytrip-order-img {
  width: 100px;
  height: 100px;
}

.mytrip-order-name {
  font-size: 1.8rem;
  line-height: 2rem;
  width: 70%;
  margin-left: 20px;
  color: var(--color-text-title);
}

.mytrip-order__main-price {
  text-decoration: line-through;
}

.mytrip-order__main-price-km {
}

.mytrip-order__rate .button {
  width: auto;
  padding: 6px 15px;
  border-radius: 5px;
}

.mytrip-order__rate-note {
}

.mytrip-sub-menu-name {
}

.mytrip-sub-menu-name {
}

.mytrip-sub-menu-name {
}

.mytrip-voucher__search {
}

.mytrip-voucher-box-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0px;
  padding: 25px 12rem;
}

.mytrip-voucher-box-search input {
  margin: 0 10px;
}

.mytrip-voucher__title {
  white-space: nowrap;
  margin-right: 10px;
}

.mytrip-sub-menu {
}

.mytrip-sub-menu-name {
}

.mytrip-voucher {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.mytrip-voucher-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mytrip-voucher-left {
  position: relative;
  z-index: 2;
}

.mytrip-voucher-right {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: stretch;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
  box-shadow: 3px 3px 15px rgb(0 0 0 / 25%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0 0 -15px;
  padding: 22px 14px;
  padding-bottom: 10px;
  position: relative;
  width: calc(100% - 200px);
}

.mytrip-voucher-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.mytrip-voucher-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-text-title);
}

.mytrip-voucher-time {
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  color: rgb(233, 55, 55);
}

.mytrip-voucher-condition {
  white-space: nowrap;
  color: rgb(233, 55, 55);
  cursor: pointer;
}

.mytrip-sub-menu-name {
}

.md-1 {
  justify-content: flex-end;
}

.mytrip-order__rate-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mytrip-order__rate-note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.mytrip-order__rate-note-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

.mytrip-order__rate-note-value {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #2f80ed;
}

.mytrip-order__rate-star {
  text-align: center;
  margin: 20px 0;
}

.mytrip-order__rate-star i {
  font-size: 50px;
  color: rgb(236, 223, 32);
}

.mytrip-menu-item i {
  font-size: 24px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-primary);
}

.voucher-popup-title {
  font-size: 20px;
}

.voucher-popup-des {
  font-size: 17px;
}
.voucher-popup-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--colour-navy);
  margin: 10px 0;
}
.voucher-popup-dk {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-title);
}
.ant-modal-content {
  border-radius: 10px;
}
.voucher-popup-des {
}
